{% extends 'profiles/main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title">My Profile</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'edit profile' user.username %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Update Profile</button>
                </form>

            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <p class="card-text">
                <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <a href="javascript:void(0)">
                        <img class="img-avatar" src="{{ profile.profile_image.url }}" alt="...">
                        <h5 style="margin-top: 20px" class="title">
                            {{ user.username }}
                        </h5>
                    </a>
                    <p class="description">
                        {{ user.email }}
                    </p>
                </div>
                </p>
                <div class="card-footer">
                    <div class="button-container">
                        <button href="twitter.com/" class="btn btn-icon btn-round btn-twitter">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-instagram">
                            <i class="fab fa-instagram"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
