{% extends 'base.html' %}
{% load static %}

{% block title %}
        Reset Password
{% endblock %}

{% block navbar-menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
 <section class="about-section text-center" id="who-are-we">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h5 class="text-white mb-4">
                        {% block message %}
                        {% endblock %}
                    </h5>
                </div>
            </div>
            <img class="img-fluid" src="{% static 'main/assets/img/pass_reset.png' %}" alt="..."/>
        </div>
    </section>
{% endblock %}