{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Contact Us</title>
{% endblock %}

{% block navbar-menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'about' %}>About</a></li>
{% endblock %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        <p>
                            <form method="post" action={% url 'contact' %}>
                                {% csrf_token %}
                                {{ form.errors }}
                                {{ form|crispy }}
                            </form>
                        </p>
                    <a class="btn btn-primary" type="submit">Send</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}