{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block navbar-menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">ABOUT</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'show events' %}">EVENTS</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'show blog page' %}">BLOG</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">CONTACT</a></li>
    {% include 'components/auth_menu.html' %}
{% endblock %}

{% block content %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="text-white-50 mx-auto mt-2 mb-5">Not a Club
                        <p>A Community</p>
                    </h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        Love books and everything about 'em? Come join us!
                    </h2>
                    <a href="{% url 'sign up' %}" class="btn btn-primary">Join</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}