{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block navbar-menus %}
    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
    <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
    <li class="nav-item"><a class="nav-link" href="#signup">Contact</a></li>
{% endblock %}

{% block masthead %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Not a Club, a Community</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">We know you're going to like it. Don't be shy and give it a try.</h2>
                    <a class="btn btn-primary" href="#about">Join</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}