{% extends 'base.html' %}
{% load static %}

{% block navbar-menu %}
{% endblock %}

{% block title %}
    Sign In Required
{% endblock %}

{% block content %}
     <section class="about-section text-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                        {% block message %}
                            <h5 class="text-white mb-4">
                            Oops. In order to register for an event, you need to be signed in.
                            </h5>
                            <p>
                                <a style="margin-bottom: 10px"
                               href="{% url 'sign in' %}" class="btn btn-primary">SIGN IN</a>
                            </p>
                            <h6 class="text-white-50">
                                You don't have an account? Don't worry,
                                <a href="{% url 'sign up' %}">sign up now</a>
                            </h6>
                        {% endblock %}
                </div>
            </div>
            <img style="height: 280px; width: 270px" class="img-fluid" src="{% static 'main/assets/img/sign-in.png' %}" alt="..."/>
        </div>
    </section>
{% endblock %}
