{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}
    Sign Up Form
{% endblock %}

{% block navbar-menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
{% endblock %}


{% block content %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        <p>
                            <form method="post" action="{% url 'sign up' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary">Submit</button>
                            </form>
                        </p>
                    </h2>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

