<div class="sidebar" style="height: 450px">
    <div class="sidebar-wrapper">
        <ul class="nav">

            <!-- Dashboard Main-->
            <li>
                <a href="{% url 'profile main' user.username %}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <!-- Discussions-->
            <li>
                <a href="{% url 'show discussions' %}">
                    <i class="tim-icons icon-chat-33"></i>
                    <p>Discussions</p>
                </a>
            </li>

            <!-- Events-->
            <li>
                <a href="{% url 'show my events' request.user.username %}">
                    <i class="tim-icons icon-calendar-60"></i>
                    <p>Events</p>
                </a>
            </li>

             <!-- My Library-->
            <li>
                <a href="{% url 'show my library' request.user.username %}">
                    <i class="tim-icons icon-book-bookmark"></i>
                    <p>My Library</p>
                </a>
            </li>

            <!-- User Profile-->
            <li>
                <a href="{% url 'profile details' user.username %}">
                    <i class="tim-icons icon-single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>

            <!-- Change Password -->
            <li>
                <a href="{% url 'change password' user.username %}">
                    <i class="tim-icons icon-key-25"></i>
                    <p>Change Password</p>
                </a>
            </li>

            <!-- Sign out-->
            <li>
                <a href="{% url 'sign out' %}">
                    <i class="tim-icons icon-user-run"></i>
                    <p>Sign out</p>
                </a>
            </li>

        </ul>

    </div>
</div>
