{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Events
{% endblock %}

{% block navbar-menu %}
    <li class="nav-item"><a class="nav-link" href="#book-of-the-month">BOOK OF THE MONTH</a></li>
    <li class="nav-item"><a class="nav-link" href="#book-of-the-month">UPCOMING EVENTS</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">CONTACT</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'sign in' %}">SIGN IN</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'sign up' %}">SIGN UP</a></li>
{% endblock %}

{% block content %}
        <section class="about-section text-center" id="book-of-the-month">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Book of The Month</h2>
                    <p class="text-white-50">
                    We are heavy readers. We love books and we love talking about books.
                        Every month we pick a book that we're going to read and discuss during our monthly meeting.
                        Click <a href="{% url 'show book of month' %}">HERE</a> to see this month's pick.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="{% static 'main/assets/img/read.png' %}" alt="..."/>
        </div>
    </section>
{% endblock %}

