{% extends 'profiles/main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Discussions
{% endblock %}

{% block content %}
<a href="{% url 'create discussion' %}" class="btn btn-primary" style="margin-bottom: 17px">
    Add New Discussion
</a>
    <div class="row">
        {% for d in discussions %}
            <div class="col-md-8">
                <div style="width: 400px" class="card">
                    <div class="card-body">
                        <h4><a style="" href="{% url 'discussion details' d.id %}"> {{ d.title }}</a></h4>
                        <p>Topic: {{ d.topic }}</p>
                        <p>Author: {{ d.author }}</p>
                        <hr>
                        <p style="font-size: 10px" class="text-white">{{ d.bookcenterdiscussioncomment_set.count }} Comments</p>
                        <p style="font-size: 10px" class="text-white">{{ d.bookcenterdiscussionlike_set.count}} Likes</p>
                        <p style="font-size: 9px" class="text-info">
                            posted {{d.created_on}} by {{ d.author }}
                        </p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}